# 1. Introduction

Goals
- can we learn anything about bees by data analysis
- can we observe population trends in bumblebee across the years
- can we observe any yearly trends
- can we observe any seasonal trends
- can we learn something about contributor patterns

Illinois, Missouri, Ohio, and Indiana
- photographs are encouraged to be taken at the same spots each "biological" year
- at least one photo of a bee in each submission
- one submission for each bee spotted
- each submission can have multiple photos of the same bee
- 12 identified bee types, honey bee, Apis mellifera, plus the 11 bumble bee species (Bombus spp.)
- bees are identified by experts based on features

- focus on affinis

Bumblebee watch has a restricted api and their database resource page lacked display options (limited to 10 results at a time) 
life span of honeybee: 30-60days
life span of bumblebee: 30- days

In [252]:
import pandas as pd

# load example from data set
data = pd.read_csv("Identified Bees (batch 1).csv")
display(data.tail())

,Spotting ID,Bee Spotter,Date Added to Site,Year Added to Site,Month Added to Site,Day Added to Site,Number of Days Between Site Launch and Date Added to Site,Title,Date Spotted,Year Spotted,...,Number of Days Between Date Spotted and Date Added to Site,Latitude,Longitude,Amateur Species Identification,Expert Species Identification (Primary),Expert Species Identification (Secondary),Protected Species?,Location Obscured?,Gender,Spotting URL
1453,2001,John Dahlstedt,10/17/2010,2010,10,17,1104,Bee 510 Champaign Cty,10/17/2010,2010,...,0,40.080033,-88.208306,Apis mellifera,Apis mellifera,NaN,f,f,female,https://beespotter.org/bee/2001
1454,2002,John Dahlstedt,10/17/2010,2010,10,17,1104,Bee 511 Champaign Cty,10/17/2010,2010,...,0,40.079980,-88.208343,Apis mellifera,Apis mellifera,NaN,f,f,female,https://beespotter.org/bee/2002
1455,2003,John Dahlstedt,10/17/2010,2010,10,17,1104,Bee 512 Champaign Cty,10/17/2010,2010,...,0,40.080038,-88.208319,Apis mellifera,Apis mellifera,NaN,f,f,female,https://beespotter.org/bee/2003
1456,2009,JEKamper22,2/21/2011,2011,2,21,1231,mating bees,10/21/2010,2010,...,123,41.672796,-87.994401,Bombus variabilis,Bombus impatiens,NaN,f,f,both,https://beespotter.org/bee/2009
1457,2006,John Dahlstedt,11/1/2010,2010,11,1,1119,Bee 513 Champaign Cty,11/1/2010,2010,...,0,40.079861,-88.208354,Apis mellifera,Apis mellifera,NaN,f,f,female,https://beespotter.org/bee/2006

# 2. Preprocessing

In [325]:

# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [326]:
# load data from all batches
data = pd.concat([
    pd.read_csv(f"Identified Bees (batch {i}).csv") for i in range(1,6)
])

# examine the raw data
display(data)
display(data.info())

,Spotting ID,Bee Spotter,Date Added to Site,Year Added to Site,Month Added to Site,Day Added to Site,Number of Days Between Site Launch and Date Added to Site,Title,Date Spotted,Year Spotted,...,Number of Days Between Date Spotted and Date Added to Site,Latitude,Longitude,Amateur Species Identification,Expert Species Identification (Primary),Expert Species Identification (Secondary),Protected Species?,Location Obscured?,Gender,Spotting URL
0,1092,Gretchen,1/24/2009,2009,1,24,473,Bee in DeKalb,6/20/2003,2003,...,2045,41.91835,-88.758957,NaN,Apis mellifera,NaN,f,f,NaN,https://beespotter.org/bee/1092
1,132,bmovie,11/22/2007,2007,11,22,44,Tomato Garden Bee,9/2/2004,2004,...,1176,38.547259,-90.017939,NaN,Bombus impatiens,NaN,f,f,NaN,https://beespotter.org/bee/132
2,327,aurthur2sheds,6/26/2008,2008,6,26,261,map_test_trial,7/12/2005,2005,...,1080,40.332716,-88.767965,NaN,Bombus griseocollis,NaN,f,f,female,https://beespotter.org/bee/327
3,403,HaarFager,7/7/2008,2008,7,7,272,Bombus Impatiens 1,4/19/2006,2006,...,810,37.980672,-88.332653,NaN,Bombus impatiens,NaN,f,f,female,https://beespotter.org/bee/403
4,213,CityEcology,5/2/2008,2008,5,2,206,BB 20060504,5/4/2006,2006,...,729,39.307206,-76.552391,Bombus impatiens,Bombus impatiens,NaN,f,f,NaN,https://beespotter.org/bee/213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,14017,patpat36,7/4/2023,2023,7,4,5747,July 4 #2,7/4/2023,2023,...,0,39.9337016,-91.38244987,NaN,Bombus griseocollis,NaN,f,f,male,https://beespotter.org/bee/14017
184,14018,patpat36,7/4/2023,2023,7,4,5747,July 4 #3,7/4/2023,2023,...,0,39.93413888,-91.38187408,NaN,Bombus griseocollis,NaN,f,f,male,https://beespotter.org/bee/14018
185,14019,lilyaceae,7/4/2023,2023,7,4,5747,Not sure if it is a bumble bee,7/4/2023,2023,...,0,37.71513766,-89.02798477,NaN,Bombus auricomus,NaN,f,f,female,https://beespotter.org/bee/14019
186,14027,Holly,7/4/2023,2023,7,4,5747,Brown belted,7/4/2023,2023,...,0,41.69825612,-87.72558879,Bombus affinis,Bombus griseocollis,NaN,f,f,female,https://beespotter.org/bee/14027
187,14029,geekyteacher,7/5/2023,2023,7,5,5748,Wheaton 0507 2023 on Hosta,7/5/2023,2023,...,0,41.83450718,-88.08290218,Bombus bimaculatus,Bombus bimaculatus,NaN,f,f,female,https://beespotter.org/bee/14029

<class 'pandas.core.frame.DataFrame'>
Index: 10272 entries, 0 to 187
Data columns (total 23 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Spotting ID                                                 10272 non-null  int64
 1   Bee Spotter                                                 10272 non-null  object
 2   Date Added to Site                                          10272 non-null  object
 3   Year Added to Site                                          10272 non-null  int64
 4   Month Added to Site                                         10272 non-null  int64
 5   Day Added to Site                                           10272 non-null  int64
 6   Number of Days Between Site Launch and Date Added to Site   10272 non-null  int64
 7   Title                                                       10270 non-null  object
 8   Date Spotted                                                10272 non-null  object
 9   Year Spotted                                                10272 non-null  int64
 10  Month Spotted                                               10272 non-null  int64
 11  Day Spotted                                                 10272 non-null  int64
 12  Number of Days Between Site Launch and Date Spotted         10272 non-null  int64
 13  Number of Days Between Date Spotted and Date Added to Site  10272 non-null  int64
 14  Latitude                                                    10152 non-null  object
 15  Longitude                                                   10152 non-null  object
 16  Amateur Species Identification                              8693 non-null   object
 17  Expert Species Identification (Primary)                     10272 non-null  object
 18  Expert Species Identification (Secondary)                   203 non-null    object
 19  Protected Species?                                          10272 non-null  object
 20  Location Obscured?                                          10272 non-null  object
 21  Gender                                                      9204 non-null   object
 22  Spotting URL                                                10272 non-null  object
dtypes: int64(10), object(13)
memory usage: 1.9+ MB

None

In [327]:
# drop redundant columns
drop_columns = ['Year Added to Site',
                'Month Added to Site',
                'Day Added to Site',
                'Location Obscured?',
                'Number of Days Between Site Launch and Date Added to Site',
                'Title',
                'Number of Days Between Site Launch and Date Spotted',
                'Expert Species Identification (Secondary)',
                'Spotting URL']
data = data.drop(drop_columns, axis=1)

# rename columns to shortener strings
data = data.rename(columns={"Number of Days Between Date Spotted and Date Added to Site": "Days Between Date Spotted and Date Added to Site", 
                            "Expert Species Identification (Primary)": "Expert Species Identification",
                            "Protected Species?":"Protected Species"})
data.columns

Index(['Spotting ID', 'Bee Spotter', 'Date Added to Site', 'Date Spotted',
       'Year Spotted', 'Month Spotted', 'Day Spotted',
       'Days Between Date Spotted and Date Added to Site', 'Latitude',
       'Longitude', 'Amateur Species Identification',
       'Expert Species Identification', 'Protected Species', 'Gender'],
      dtype='object')

In [328]:
data['Days Between Date Spotted and Date Added to Site'].value_counts()
# if day count is 0, it is likely multiple bees were submitted on the same day

Days Between Date Spotted and Date Added to Site
 0       3755
 1       1646
 2        756
 3        466
 4        365
         ...
 1037       1
 564        1
 366        1
 711        1
-29         1
Name: count, Length: 338, dtype: int64

In [329]:
#find missing values in important columns
print(data['Expert Species Identification'].isna().sum())
print(data['Year Spotted'].isna().sum())
print(data['Latitude'].isna().sum())
print(data['Longitude'].isna().sum())

0
0
120
120

In [330]:
#find duplicates
print(data.duplicated().sum())
if data.duplicated().sum():
    data[data.duplicated()]

0

In [331]:
# convert protected species 't'/'f' to True/False
data['Protected Species'] = data['Protected Species'].replace({'t': True, 'f': False})
data['Protected Species'].value_counts()

Protected Species
False    9963
True      309
Name: count, dtype: int64

In [332]:
# convert date columns into pandas datetime object
# will be easier to make time series visualization
data['Date Added to Site'] = pd.to_datetime(data['Date Added to Site'])
data['Date Spotted'] = pd.to_datetime(data['Date Spotted'])
data.iloc[:,2:4]

    Date Added to Site Date Spotted
0           2009-01-24   2003-06-20
1           2007-11-22   2004-09-02
2           2008-06-26   2005-07-12
3           2008-07-07   2006-04-19
4           2008-05-02   2006-05-04
..                 ...          ...
183         2023-07-04   2023-07-04
184         2023-07-04   2023-07-04
185         2023-07-04   2023-07-04
186         2023-07-04   2023-07-04
187         2023-07-05   2023-07-05

[10272 rows x 2 columns]

## Feature Engineering

In [333]:
# find non numbers
print(data['Latitude'].isna().sum())

# replace non-geocoordinates with nan
# specific
print(data.iloc[10130, 8:10])
print(data.iloc[10131, 8:10])
data.iloc[10130, 8:10] = np.nan
data.iloc[10131, 8:10] = np.nan

# convert all values to float, some are str
data['Latitude'] = data['Latitude'].astype('float')
data['Longitude'] = data['Longitude'].astype('float')

120
Latitude     V76W+95J Chicago, Illinois
Longitude    V76W+95J Chicago, Illinois
Name: 46, dtype: object
Latitude     V76W+95J Chicago, Illinois
Longitude    V76W+95J Chicago, Illinois
Name: 47, dtype: object

In [337]:
# find state/country by geo coordinates and append to table
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="user_agent")
# add rate limit
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)

locations = []
length = len(data['Latitude'].values)

# algorithm to get coordinates from dataframe and find relevant state
# write dump log to 'geodump.text', around 3h to finish
with open('geo_log.txt', 'w') as f:
    for i in range(length):
        latitude = data['Latitude'].values[i]                  # get lat/long from df
        longitude = data['Longitude'].values[i]
        f.write(f'{i} - {latitude} {longitude} ')
        if not np.isnan(latitude) and not np.isnan(longitude): # check lat/log is not NaN
            coord = [latitude, longitude]
            location = reverse(coord, addressdetails=True)     # pass in api with rate limit
            state = location.raw["address"].get("state")       # get state from full address
            locations.append(state)                            # append to locations
            #f.write(f'{location}\n')
            f.write(f'{state}\n')                              # write returned state to log
        else:
            f.write(f'possible NaN, did not geolocate coordinates\n')
    f.write(f'counts: {pd.DataFrame(locations).value_counts()}')

# create locations column
data['State'] = locations
display(pd.DataFrame(locations).value_counts())

# save csv
data.to_csv('Cleaned_BeeSpotter_Data.csv',index=False)

KeyboardInterrupt:

In [335]:
display(pd.DataFrame(locations).value_counts())

Illinois    4
Maryland    1
Name: count, dtype: int64

In [336]:
data.to_csv('Cleaned_BeeSpotter_Data.csv',index=False)

# 3. Visualization

In [ ]:
data['Gender'].value_counts()
# sort by bombus and apis

Gender
female    7720
male      1472
both        12
Name: count, dtype: int64

In [ ]:
data['Expert Species Identification'].value_counts()
data['Amateur Species Identification'].value_counts()

Amateur Species Identification
Apis mellifera          1667
Bombus impatiens        1470
Bombus griseocollis     1398
Bombus bimaculatus      1094
Bombus auricomus         645
Bombus affinis           619
Bombus pensylvanicus     438
Bombus fervidus          427
Bombus vagans            306
Bombus rufocinctus       195
Bombus citrinus          189
Bombus variabilis        170
Bombus fraternus          62
Bombus perplexus          13
Name: count, dtype: int64

# 4. Conclusion

# References
https://royalsocietypublishing.org/doi/10.1098/rsbl.2018.0670
https://jhr.pensoft.net/article/47828/element/8/62850//
https://operations.osmfoundation.org/policies/nominatim/